@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: content-box;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.versatile-container {
    margin-left: 200px;
    margin-right: 200px;
    
}

#navbar {
    height: 150px;
    width: 100%;

}

#navbar .versatile-container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-logo {
    height: auto;
    width: 300px;
}

body {
    background-color: #01223B;

}

#nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 51.25px;
    
}
.nav-link {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.nav-link button{
    background-color: #1BC0E3;
    width: 150px;
    height: 62.5px;
    border-radius: 60px;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

#banner {
    margin-top: 105.7px;
}

#title-1,
#title-2 {
    font-weight: 700;
}

#title-1 {
    font-size: 50px;
    color: white;
    height: 50px;
    margin-bottom: 8px;
}

#title-2 {
    font-size: 56.25px;
    color: #1BC0E3;
    height: 56.25px;
}

#title {
    height: 140px;
}

#intro-text {
    font-weight: 300;
    font-size: 25px;
    color: white;
}

#banner .versatile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-side img {
    width: 428.125px;
    height: auto;
}
.right-side {
    position: relative;
}
.left-side{
    width: 700px;
}



#btn-join,
#btn-info {
    width: 225px;
    height: 75px;
    font-weight: 700;
    font-size: 31.25px;
    border-radius: 60px;
}


#btn-info {
    border-style: dashed;
    border-width: 5px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-color: #1BC0E3;
    background-color: white;
}

#btn-join {
    background-color: #1BC0E3;
    color: white;
}

#event-btn {
    padding-top: 15px;
    display: flex;
    gap: 75px;
}

#desc-arrow {
    width: 153.0375px;
    height: auto;
    transform: translate(-180px,95px);
}

#description {
    margin-top: 25px;
    height: 555.825px;
}

#description .versatile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    
}

#right-side-desc {
    width: 600px;
}

#left-side-desc img {
    height: auto;
    width: 430px;

}

#left-side-desc {
    height: 100%;
    width: 430px;
    position: relative;
}

#right-side-desc p {
    color: white;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

}

.section-title{
    font-size: 75px;
    font-weight: 700;
    color: #1BC0E3;
    margin-bottom: 10px;
}



#categories {
    margin-top: 76.675px;
    height: 991.65px;
}

#cat-card-container{
    width: 416.61875px;
    height: 333.3px;
    background-color: #01223B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70.625px;
    border-width: 6.25px;
    border-style: solid;
    border-color: #1BC0E3;
    transform: translate(54.1875px,-91.65px);
    z-index: 0;
}

#cat-card {
    height: 300px;
    width: 375px;
    background-color: #FFC11D;
    color: #01223B;
    border-radius: 70.625px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

#cat-card h4 {
    color: #01223B;
    font-weight: 500;
    font-size: 37.5px;
    text-align: center;
}

#cat-card p {
    color: #01223B;
    font-weight: 400;
    font-size: 21.875px;
    width: 304.1875px;
}

#big-card-container {
    height: 391.65px;
    width: 470.8125px;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 58.35px;
}

#goals {
    margin-top: 58.35px;
}

#goals .versatile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 450px;
    position: relative;
}

#goal-pic {
    height: 100%;
    width: auto;

    transform: translate(0px,20px);
}

#goal-list {
    list-style-type: disc;
    height: 351.52px;

    
}

#goal-list li {
    color: white;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    margin-top: 10px;
}

#right-side-goal {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#right-side-goal .section-title{
    height: 75px;
    margin-top: 0;
}

#brands {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#mailing-list {
    height: 450px;

}

#mailing-list .versatile-container{
    border-radius: 71.875px;
    background: linear-gradient(180deg, #1BC0E3 0%, #1B6BE3 100%);
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#contact-h1 {
    color: white;
    font-weight: 700;
    font-size: 75px;
}

#contact-text {
    width: 900px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contact-text p {
    font-weight: 400;
    font-size: 31.25px;
    color: #01223B;


}

#enter-mail {
    width: 750px;
    height: 75px;
    display: flex;
}

#enter-mail input {
    width: 100%;
    height: 100%;
    background-color: #01223B;
    border: none;
    padding: 0;
    border-radius: 37.5px;
    color: #CCCCCC;
    font-weight: 400;
    font-size: 25px;
    
}

#enter-mail input::placeholder {
    padding-left: 34.95px;
}

#enter-mail button {
    width: 136.05px;
    height: 90.7%;
    z-index: 2;
    border-radius: 37.5px;
    background-color: #1BC0E3;
    font-weight: 700;
    font-size: 25px;
    border: none;
    padding: 0;
    margin-left: -140.25px;
    margin-top: 3.4875px;
    color: white;
}